{% extends "country/base.html" %}
{% load static %}


{% block content %}
{% comment %} <div class="img"> 
        <img src="{% static "country/288.jpg" %}" alt="">
</div>   {% endcomment %}

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <form class="d-flex align-items-center" role="search" action="{% url 'countries' %}">
            <div class="input-group">
                <input id='search' class="form-control me-2" type="search" placeholder="Search" aria-label="Search"   name="search_query" value="{{ search_query }}">
                <button id="btn2" class="btn btn-outline-success" type="submit">Поиск</button>
            </div>
        </form>
    </div>
</nav>


<h1>Достопримечательности различных стран мира:</h1>

<div class="block">
    {% for country in countries %}
    <div class="element">
        
        <div class="image">
           <a href="{% url "country-detail" country.id %}"><img src="{{ country.image.url }}" alt=""></a> 
        </div>

        <div class="text">
            <h2><a href="{% url "country-detail" country.id %}" >{{country.title}}</a></h2>
            <p>{{ country.description |truncatechars:148}}</p>
        </div>
       

    </div>
    {% endfor %}
</div> 

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item {% if not countries.has_previous %}disabled{% endif %} ">

        {% if countries.has_previous %}
          <a class="page-link" href="?page={{ countries.previous_page_number }}">Назад</a>
          {% else %}
            <span class="page-link">Назад</span>
        {% endif %}
      </li>

      {% for page in countries.paginator.page_range %}
        <li class="page-item {% if page == countries.number %}active{% endif %} ">
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}
      
      <li class="page-item {% if not countries.has_next %}disabled{% endif %}">
        {% if countries.has_next %}
          <a class="page-link" href="?page={{ countries.next_page_number }}">Следующая</a>
        {% else %}
          <span class="page-link">Следующая</span>
        {% endif %}
      </li>
    </ul>
  </nav>
{% endblock content %}  


