{% extends "country/base.html" %}


{% block content %}

<h1>Статьи о путешествиях</h1>

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <form class="d-flex align-items-center" role="search" action="{% url 'articles-search' %}">
            <div class="input-group">
                <input id='search' class="form-control me-2" type="search" placeholder="Search" aria-label="Search"   name="search_query" value="{{ search_query }}">
                <button id="btn2" class="btn btn-outline-success" type="submit">Поиск</button>
            </div>
        </form>
    </div>
</nav> 


{% for article in articles %}
<div class="element" style="width: 100%;">
    <h2 class='top'><a href="{% url "detail" article.id %}">{{ article.title }}</a></h2>
    <div class="blog_text">
        <h5><p>Статья добавлена:</p>{{ article.date|date:"d.m.Y" }}</h5>
        <p>{{ article.description|striptags|truncatechars:360 }}</p>
    </div>    
</div>

{% endfor %}
{% endblock content %}
